<h1>Transactions</h1>
<h3>Email: {{currEmail}} </h3>
<h3>Account: {{currAccountId}}</h3>
{{transactionsErrorMessage}}
<table ng-show="transactions.length > 0" class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Value</th>
        <th>Delete</th>
    </tr>
    <tr ng-repeat="transaction in transactions">
        <td>{{transaction.name}}</td>
        <td>{{transaction.description}}</td>
        <td>{{transaction.type}}</td>
        <td>{{transaction.value}}</td>
        <td>
            <button class="btn btn-danger" ng-click="DeleteTransaction(transaction)">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
</table>
<hr>
<form name="transactionForm">
    <input class="form-control" type="text" ng-model="transaction.name" name="name" placeholder="Name" ng-required="true" ng-minlength="3"
    />
    <input class="form-control" type="text" ng-model="transaction.description" name="description" placeholder="Description" ng-required="true"
    />
    <input class="form-control" type="text" ng-model="transaction.type" name="type" placeholder="Type" ng-required="true" />
    <input class="form-control" type="text" ng-model="transaction.value" name="value" placeholder="Value" ng-required="true"
    />
</form>
<hr>
<button class="btn btn-primary btn-block" ng-click="AddTransaction(transaction)" ng-disabled="transactionForm.$invalid">
    Create Transaction</button>