<div ng-controller="userCtrl">
    <h1>Users</h1>
    {{usersErrorMessage}}
    <div ng-show="users.length === 0 && usersErrorMessage">
        Loading...
    </div>
    <table ng-show="users.length > 0" class="table table-striped">
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Details</th>
            <th>Accounts</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat="user in users">
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>
                <button class="btn btn-primary" ng-click="UserDetails(user)">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-success" ng-click="UserAccounts(user)">
                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                </button>
            </td>
            <td>
                <button class="btn btn-danger" ng-click="DeleteUser(user)">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </table>
    <hr>
    <form name="userForm">
        <input class="form-control" type="text" ng-model="user.email" name="email" placeholder="Email" ng-required="true" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
        />
        <div ng-show="userForm.email.$dirty" ng-messages="userForm.email.$error">
            <p class="alert alert-danger" ng-message="pattern">Invalid Email</p>
        </div>

        <input class="form-control" type="text" ng-model="user.password" name="password" placeholder="Password" ng-required="true" ng-minlength="6" />
        <div ng-show="userForm.password.$dirty" ng-messages="userForm.password.$error">
            <p class="alert alert-danger" ng-message="minlength">Minimun 6 characters</p>
        </div>
    </form>
    <hr>
    <button name="btnCreateUser" class="btn btn-primary btn-block" ng-click="AddUser(user)" ng-disabled="userForm.$invalid">Create User</button>
</div>